@import "tailwindcss";

:root {
  --color-white: #FFFFFF;
  --color-creme: #FFFCF2;
  --color-grey-light: #CCC5B9;
  --color-grey-medium: #403D39;
  --color-grey-dark: #252422;
  --color-orange: #EB5E28;
}

.font-harmonie {
  font-family: var(--font-harmonie);
}

.font-pogania {
  font-family: var(--font-pogania);
}