@import "tailwindcss";

:root {
  --color-primary: #009BA8;
  --color-secondary: #3C6A99;
  --color-container: #EBF7F8;
  --color-white: #FFFFFF;
  --color-text-primary: #3C6A99;
  --color-text-secondary: #242424;
}

.font-harmonie {
  font-family: var(--font-harmonie);
}

.font-pogania {
  font-family: var(--font-pogonia);
}